<div class="col-xs-12 col-sm-6 col-md-4 grid-item loading">
	<div class="thumbnail">
		<div class="image-wrapper">
			{{#if image}}
			<a href="{{url}}"><img src="{{image}}" alt="thumbnail" /></a>
			{{else}}
			<img src="{{asset "images/empty.png"}}" alt="thumbnail" style="height: 0px;" />
			{{/if}}
		</div>
		<div class="caption">
			<a href="{{url}}"><h3>{{{title}}}</h3></a>
			<p>{{content}}</p>
		</div>
	</div>
</div>
